@media screen and (max-width: 480px) {

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .list-item {
    line-height: 32px;
    border: 1px solid #999;
    margin: 4px 0;
    text-align: center;
  }

  .list-item:hover {
    background-color: lightgray;
  }

  .filter {
    display: block;
    border: 1px solid #999;
    line-height: 32px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #list {
    display: block;
    position: relative;
    background: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    width: 99.5%;
  }

  #placeslist {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 60%;
  }

  #map {
    height: 100%;
  }

  .mapDiv {
    height: 475px;
    width: 100%;
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 481px){

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .list-item {
    border: 1px solid #999;
    margin: 4px 0;
    text-align: center;
  }

  .list-item:hover {
    background-color: lightgray;
  }

  .filter {
    display: block;
    border: 1px solid #999;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #map {
    height: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
  }

  #list {
    z-index: 1;
    background: #fff;
    position: absolute;
    border: 1px solid #999;
    border-radius: 3px;
    line-height: 25px;
    width: 200px;
  }

  #placeslist {
    list-style-type: none;
    padding: 0 5px;
  }
}
